/* .news-container{
    position: fixed;
    top: 50px;
    left: 20px;
    right: 0;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.3);
} */



/* .news-container ul{
    list-style-type: none;
} */